{% extends 'base.html' %}
{% block content %}
<h3>Manhã<h3>
	<div class="palestra">
		<h4><a href="/palestra/1/">10:00 - Título da Palestra</a></h4>
		<h5><a href="/palestrantes/felipe-scampini/" title="Passionate software developer!">
			Felipe Scampini
		</a></h5>
		<p>Descrição da palestra</p>
	<div>
<h3>Tarde<h3>
	<div class="palestra">
		<h4><a href="/palestra/2/">13:00 - Título da Palestra</a></h4>
		<h5><a href="/palestrantes/felipe-scampini/" title="Passionate software developer!">
			Felipe Scampini
		</a></h5>
		<p>Descrição da palestra</p>
	</div>
{% endblock content %}